tasks/states/*
tasks/transport/birds/*
tasks/transport/caini/*
tasks/transport/mouse_combo/*
tasks/transport/rimges/*
screenshots/*
models/*
tasks/daily-collect/*
window/*
python学习.ipynb
test.ipynb
main_run.py
tasks/change-regions/*



