tasks/page-change/*
tasks/page-states/*
tasks/pop-change/*
tasks/pop-states/*
tasks/page-change/fwq_shezhi_01.json
screenshots/001.png
screenshots/002.png
screenshots/003.png
screenshots/004.png
screenshots/005.png
screenshots/006.png
screenshots/007.png
screenshots/008.png
screenshots/009.png
screenshots/010.png
screenshots/011.png
screenshots/012.png
screenshots/013.png
screenshots/014.png
screenshots/015.png
screenshots/016.png
screenshots/017.png
screenshots/018.png
screenshots/019.png
screenshots/020.png
screenshots/021.png
screenshots/022.png
screenshots/023.png
screenshots/024.png
screenshots/025.png
screenshots/026.png
screenshots/027.png
screenshots/028.png
screenshots/029.png
screenshots/030.png
screenshots/031.png
screenshots/032.png
screenshots/033.png
screenshots/034.png
screenshots/035.png
screenshots/036.png
screenshots/037.png
screenshots/038.png
screenshots/039.png
screenshots/040.png
screenshots/041.png
screenshots/042.png
screenshots/043.png
screenshots/044.png
screenshots/045.png
screenshots/046.png
screenshots/047.png
screenshots/048.png
screenshots/049.png
screenshots/050.png
screenshots/051.png
screenshots/052.png
screenshots/053.png
screenshots/054.png
screenshots/055.png
screenshots/056.png
screenshots/057.png
screenshots/058.png
screenshots/059.png
screenshots/060.png
screenshots/061.png
screenshots/062.png
screenshots/063.png
screenshots/064.png
screenshots/065.png
screenshots/066.png
screenshots/067.png
screenshots/068.png
screenshots/069.png
screenshots/070.png
screenshots/071.png
screenshots/072.png
screenshots/073.png
screenshots/074.png
screenshots/075.png
screenshots/076.png
screenshots/077.png
screenshots/078.png
screenshots/079.png
screenshots/080.png
screenshots/081.png
screenshots/082.png
screenshots/083.png
screenshots/084.png
screenshots/085.png
screenshots/086.png
screenshots/087.png
screenshots/088.png
screenshots/089.png
screenshots/090.png
screenshots/091.png
screenshots/092.png
screenshots/093.png
screenshots/094.png
screenshots/095.png
screenshots/096.png
screenshots/097.png
screenshots/098.png
screenshots/099.png
screenshots/100.png
screenshots/101.png
screenshots/102.png
screenshots/103.png
screenshots/104.png
screenshots/105.png
screenshots/106.png
screenshots/107.png
screenshots/108.png
screenshots/109.png
screenshots/110.png
screenshots/111.png
screenshots/112.png
screenshots/113.png
screenshots/114.png
screenshots/115.png
screenshots/116.png
screenshots/117.png
screenshots/118.png
screenshots/119.png
screenshots/120.png
screenshots/121.png
screenshots/122.png
screenshots/123.png
screenshots/124.png
screenshots/125.png
screenshots/126.png
screenshots/127.png
screenshots/128.png
screenshots/129.png
screenshots/130.png
screenshots/131.png
screenshots/132.png
screenshots/133.png
screenshots/134.png
screenshots/135.png
screenshots/136.png
screenshots/137.png
screenshots/138.png
screenshots/139.png
screenshots/140.png
screenshots/141.png
screenshots/142.png
screenshots/143.png
screenshots/144.png
screenshots/145.png
screenshots/146.png
screenshots/147.png
screenshots/fhs_id.png
screenshots/sxk_id.png
tasks/daily_collect.py
tasks/states.txt
tasks/transport.py
tasks/__pycache__/daily_collect.cpython-38.pyc
tasks/__pycache__/transport.cpython-38.pyc
tasks/daily-collect/buy_01.json
tasks/daily-collect/buy_01.png
tasks/daily-collect/buy_02.json
tasks/daily-collect/buy_02.png
tasks/daily-collect/fhlb_id.json
tasks/daily-collect/fhlb_id.png
tasks/daily-collect/fhs_id.json
tasks/daily-collect/fhs_id.png
tasks/daily-collect/hszlb_id.json
tasks/daily-collect/hszlb_id.png
tasks/daily-collect/paihang_00.json
tasks/daily-collect/paihang_00.png
tasks/daily-collect/paihang_01.json
tasks/daily-collect/paihang_01.png
tasks/daily-collect/paihang_02.json
tasks/daily-collect/paihang_02.png
tasks/daily-collect/qiandao_1.json
tasks/daily-collect/qiandao_1.png
tasks/daily-collect/qiandao_2.json
tasks/daily-collect/qiandao_2.png
tasks/daily-collect/qiandao_3.json
tasks/daily-collect/qiandao_3.png
tasks/daily-collect/qiandao_4.json
tasks/daily-collect/qiandao_4.png
tasks/daily-collect/qiandao_5.json
tasks/daily-collect/qiandao_5.png
tasks/daily-collect/qiandao_6.json
tasks/daily-collect/qiandao_6.png
tasks/daily-collect/qiandao_7.json
tasks/daily-collect/qiandao_7.png
tasks/daily-collect/qiandao_id.json
tasks/daily-collect/qiandao_id.png
tasks/daily-collect/shangdian.json
tasks/daily-collect/shangdian.png
tasks/daily-collect/sllb_id.json
tasks/daily-collect/sllb_id.png
tasks/daily-collect/sxk_id.json
tasks/daily-collect/sxk_id.png
tasks/daily-collect/sxlb_id.json
tasks/daily-collect/sxlb_id.png
tasks/daily-collect/szpfb_id.json
tasks/daily-collect/szpfb_id.png
tasks/daily-collect/ycfrd_id.json
tasks/daily-collect/ycfrd_id.png
tasks/daily-collect/yuer.json
tasks/daily-collect/yuer.png
tasks/daily-collect/zhp_1.json
tasks/daily-collect/zhp_1.png
tasks/daily-collect/zhp_2.json
tasks/daily-collect/zhp_2.png
tasks/daily-collect/zhp_id.json
tasks/daily-collect/zhp_id.png
tasks/daily-collect/zhuanshi.json
tasks/daily-collect/zhuanshi.png
tasks/lingqu/shangdian.json
tasks/lingqu/shangdian.png
tasks/page-change/begin_tanchuang_01.json
tasks/page-change/begin_tanchuang_01.png
tasks/page-change/fwq_shezhi_01.json
tasks/page-change/hszlb_szpfb_01.json
tasks/page-change/hszlb_ycfrd_01.json
tasks/page-change/hszlb_zhuye_01.json
tasks/page-change/ldpaihang_lingdi_01.json
tasks/page-change/szpfb_hszlb_01.json
tasks/page-change/szpfb_ycfrd_01.json
tasks/page-change/szpfb_zhuye_01.json
tasks/page-change/ycfrd_hszlb_01.json
tasks/page-change/ycfrd_szpfb_01.json
tasks/page-change/ycfrd_zhuye_01.json
tasks/page-change/zhp_caidan_01.json
tasks/page-change/zhuye_shangdian_01.json
tasks/page-states/begin.json
tasks/transport/birds/002.json
tasks/transport/birds/002.png
tasks/transport/birds/004.json
tasks/transport/birds/004.png
window/temp_image.png
